/******************************
Flexbox
******************************/

#topPage1,
#topPage2,
body,
.famPhotos,
.wwPhotos,
.aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.middlePage {
    display: flex;
    flex-wrap: wrap;
}

.newsAndVideo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#topVideo {
    justify-content: center;
}

.topNews {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMe {
    flex-direction: column;
    align-items: center;
    }

/******************************
Media Queries
******************************/

@media (min-width: 769px) {
    
    .mainHeader,
    .newsAndVideo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    
    .mainHeader {
        flex-direction: column;
    }
    
    .mainHeader {
        width: 100%;
        margin: 0 auto;
    }

    #topVideo {
        width:100%;
        margin:0;
        height: auto
    }

    #leftColumn {
        width: 50%;
        margin:0;
    }
    
    #rightColumn {
        width:50%;
        margin:0;
    }
    
    
    .famPhotos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .eachPhoto {
        width: 50%;
    }
    
    
    
}

@media (min-width: 1025px) {
    
    .mainHeader {
        max-width: 1150px;
    }
    
    .newsAndVideo,
    .mainHeader {
        justify-content: space-between;
   }
    
    #leftColumn {
        order: -1;
        width:29%;
        max-width: 380px;
        height:330px;
        margin-right: 1%;
   }

    #rightColumn {
        width:29%;
        max-width: 380px;
        order: 3;
        height:330px;
        margin-left: 1%
        
   }
    #topVideo {
        width:40%;
        order: 1;
   }
    
    .eachPhoto {
        width: 33.33333%;
    }
    
    .aboutMe {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .aboutMeSection {
        width: 50%;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }
    
    .profilePic {
        margin-left: 100px;

    }
    
    .aboutMeInfo {
        padding: 0px 30px;
    }
    
}
    



















